body {
    text-align: center;
    align-items: center;
}

.fix{
    position:fixed;
    bottom:0px;
}

.wrapper {
    padding: 100px;
    padding-left: 250px;
    padding-right: 250px;
    height: 100%;
    width: 100%;
}
p {
    font-size: 24px;
    word-spacing: normal;
    word-break: break-all;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

h3, h1, h2 {
    color: #fff;
}

.square {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color:#001a33;
    position: relative;
    width: 100%;
}

.hey {
    margin: 0;
    padding-right: 0%;
    padding-left: 0%;
}

.description {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    margin: 0 0 1rem;
}

/* Very cool dark blue color #001a33 */

