body {
    text-align: center;
    align-items: center;
    background-color: #001a33;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.fix{
    position:fixed;
    bottom:0px;
}

#myPic {
    border-radius: 50%;
    border: 10px solid #325C74;
}

#myPic:hover {
    border-color: rgb(216, 2, 134);
}

div.row {
    height: 10%;
}


.wrapper {
    padding: 100px;
    padding-left: 250px;
    padding-right: 250px;
    height: 100%;
    width: 100%;
    align-items: center;
}
p {
    font-size: 24px;
    word-spacing: normal;
    word-break: break-all;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

h3, h1, h2 {
    color: #fff;
}

div.row {
    text-align: center;
    align-items: center;
    margin: auto;
}

div.btn {
    align-items: center;
    margin: auto;
}
.square {
    display: block;
    overflow: hidden;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color:#001a33;
    position: relative;
    width: 100%;
    max-height: 400px;
}

.hey {
    margin: 0;
    padding-right: 0%;
    padding-left: 0%;
}

.description {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    margin: 0 0 1rem;
}

/* Very cool dark blue color #001a33 */

