body {
  background-color: #001a33;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color: #fff;
  margin: 0;
  max-width: fit-content;
}


.contact-div {
  padding-top: 120px;
  font-family: monospace;
}

.social-sidebar {
  max-width: 120px;
}

.form-check-inline {
  max-width: 400px;
  width: 250px;
  text-align: center;
  margin-top: 0em;
}

#line {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 2px 5px;
  margin-bottom: 20px;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
  height: 57px;
  width: 53px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.instagram {
  vertical-align: middle;
  background-color: #e1304d;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.github {
  background-color: #333;
  color: white;
}

.whatsapp {
  background-color: #25D366;
  color: white;
}